.Uploader{
    border-radius: var(--radius);
    padding: 20px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.Uploader-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.imgTitle{
    font-weight: 600 !important;
}

.imgThumbnail{
    max-width: 500px !important;
    height: 420px !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
}
.Upload-image{
    width: 100% !important;
    margin: auto !important;
}

.dashered{
    border: dashed 2px var(--primary) !important;
}

.flexed{
    width: 100% !important;
}